/*Color Panel
==============*/
	.color_panel .categs ul li ul, 
	.color_panel .ttl_block {background-color:rgba(40, 40, 40, 0.85); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9282828,endColorstr=#d9282828); zoom: 1; border-color:#454545!important}
	.categs { background-color:rgba(255, 255, 255, 0.97); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7ffffff,endColorstr=#f7ffffff); zoom: 1;}
		
	.color_panel { display:block; width:174px; position:fixed; top:110px; left:-174px; text-align:left; z-index:999}
	.color_panel .ttl_block { width:162px; line-height:34px; padding:0 0 0 10px; text-transform:uppercase; font-size:16px; font-family:'OswaldLight'; letter-spacing:0.7px; border:1px solid}
	.color_panel .categs { width:174px; display:block; border:none!important}
	.color_panel .categs ul { margin:0; padding:0; list-style:none}
	.color_panel .categs ul li { text-transform:uppercase; border-bottom:1px solid #dfdfdf}
	.color_panel .categs ul li a { padding:0 0 0 10px; line-height:35px; display:block; font-size:16px; font-family:'OswaldLight'; letter-spacing:0.7px; background:url(../images/color_panel_arrows.png) top right no-repeat; color:#8d8d8d; text-decoration:none!important;
		transition: background-color 250ms, color 250ms; 
		-webkit-transition:background-color 250ms, color 250ms; 
		-moz-transition:background-color 250ms, color 250ms; 
		-o-transition:background-color 250ms, color 250ms; 	
	}
	.color_panel .categs ul li a:hover { text-decoration:none; background-position:top right; background-color:#94ca20; color:#ffffff}
	.color_panel .categs ul li a.selected{ text-decoration:none; background-position:bottom right; background-color:#94ca20; color:#ffffff}	
	
	.color_panel .categs ul li ul { overflow:hidden; display:block; padding:8px 0 0 0!important; display:none}
	.color_panel .categs ul li ul li { border:none!important}
	.color_panel .categs ul li ul li a { background:none!important; color:#8d8d8d!important; text-transform:none; padding:0 0 6px 10px; font-size:12px; line-height:14px; font-family:Arial, Helvetica, sans-serif; display:block; letter-spacing:normal!important}
	.color_panel .categs ul li ul li a:hover, .color_panel .categs ul li ul li a.selected { color:#ffffff!important}
	
	.color_panel .categs ul li ul.color_categ li { margin:0 0 10px 11px; float:left}
	.color_panel .categs ul li ul.color_categ  li a { width:16px; height:16px; display:block; padding:0!important;}
	.color_panel .categs ul li ul.color_categ  li.color1 a { background:#94ca20!important}
	.color_panel .categs ul li ul.color_categ  li.color2 a { background:#20ca86!important}
	.color_panel .categs ul li ul.color_categ  li.color3 a { background:#5ac9cd!important}
	.color_panel .categs ul li ul.color_categ  li.color4 a { background:#4c9ee7!important}
	.color_panel .categs ul li ul.color_categ  li.color5 a { background:#8d69db!important}
	.color_panel .categs ul li ul.color_categ  li.color6 a { background:#c270de!important}
	.color_panel .categs ul li ul.color_categ  li.color7 a { background:#f09ad6!important}
	.color_panel .categs ul li ul.color_categ  li.color8 a { background:#f09faa!important}
	.color_panel .categs ul li ul.color_categ  li.color9 a { background:#d13f2b!important}
	.color_panel .categs ul li ul.color_categ  li.color10 a { background:#ff8376!important}
	.color_panel .categs ul li ul.color_categ  li.color11 a { background:#ff9e35!important}
	.color_panel .categs ul li ul.color_categ  li.color12 a { background:#ffcc00!important}
	
	.cpl_toggle { background:url(../images/bg_cpl_toggle.png) no-repeat left top; height:36px; width:36px; display:block; position:absolute; right:-35px; top:0}
	.cpl_toggle:hover { background-position:0 -36px}
	.cpl_toggle.cpl_show { background-position:-36px 0}
	.cpl_toggle.cpl_show:hover { background-position:-36px -36px}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.color_panel { display:none!important}
}	
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.color_panel { display:none!important}
}
@media only screen and (max-width: 479px) {
	.color_panel { display:none!important}
}