ul.menu li a { font-family:'NeueRegular'!important; }
.logo .slogan { font-family:'NeueRegular'!important; margin:-1px!important}
.logo .slogan span { font-family:'NeueRegular'!important;}
.head_search #search_field { font-family:'NeueRegular'!important; }
.head_contact ul li { font-family:'NeueRegular'!important; }
.head_contact ul li span { font-family:'NeueRegular'!important; }
#slidecaption { font-family:'NeueRegular'!important; }
#slidecaption span  { font-family:'NeueRegular'!important; }
footer .copyright { font-family:'NeueRegular'!important; }
footer .subscribe a { font-family:'NeueRegular'!important; }
footer .subscribe a span { font-family:'NeueRegular'!important; }
footer .social_share li { font-family:'NeueRegular'!important; }

.resp-menu li a { font-family:'NeueRegular'!important; }
.resp-menu .sub-menu li a { font-family:'NeueRegular'!important; }


/*Color Panel styles*/
.color_panel .ttl_block { font-family:'NeueRegular'!important; }
.color_panel .categs ul li a { font-family:'NeueRegular'!important; }
.color_panel .categs ul li ul li a { font-family:Arial, Helvetica, sans-serif!important;} 

