/*All Resolutions
=================*/

.image-grid { width:960px!important}
.image-grid .element { background:none; overflow:hidden; display:inline-block; margin:0 0 20px 0; }

.filter_img { position:relative;}
.filter_img img { display:block; width:100%; height:auto}

.columns2 .element, .columns3 .element, .columns4 .element, .masonry .element  { margin-left:10px; margin-right:10px}

.columns1 .element, .columns2 .element { height:280px}
.columns3 .element { height:183px}
.columns4 .element { height:134px}
.columns4 .h140 { height:140px}
.columns4 .h160 { height:160px}
.columns4 .h240 { height:240px}
.columns4 .h280 { height:280px}
.columns4 .h360 { height:360px}
.masonry {}
.masonry .element { margin-bottom:20px!important}
.masonry .filter_img img {}
/*.columns4 li { display:block!important; overflow:hidden!important}*/

.filter_navigation { overflow:hidden}
.filter_block { /*padding:0!important; margin:0 0 20px 0px!important*/}
.optionset .fltr_after {border-left:none!important}
.optionset .fltr_before {border-right:none!important}
.optionset .selected {border:1px solid!important; border-bottom:none!important}
/*----------------------------------------------------------
Tablet Portrait size to standard 960 (768x1024) 
-----------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
/*.image-grid { overflow:hidden; height:700px; width:768px!important}*/
.image-grid { width:768px!important}
.masonry { height:565px!important}
.columns1 .element { margin-bottom:20px;}
.columns1 .element, .columns2 .element { height:222px}
.columns3 .element { height:144px}
.columns4 .element { height:105px}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	/*Empty*/
}

/*------------------------------------------------
Mobile Landscape Size to Tablet Portrait (480x320)
--------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.image-grid { width:420px!important}
	.filter_navigation ul li ul li { height:25px!important; }
	.filter_navigation ul li ul li a {font-size:16px!important; line-height:25px!important; padding:0 8px!important; height:25px!important}
	.filter_block { height:25px!important; margin-bottom:15px!important; overflow:hidden}
	.columns1 .element { margin:0 0 20px 0; height:auto!important}
	.columns1 .element .filter_img { padding:0!important; margin-bottom:15px}
	.columns1 .element .filter_img img { width:100%!important; height:auto}
	.columns3 .element, .columns4 .element { margin-bottom:30px; height:256px!important}
	.element { margin-left:0!important; margin-right:0!important}

	.masonry {}
}

/*-----------------------------------------------------
Mobile Portrait Size to Mobile Landscape Size (320x480) 
-------------------------------------------------------*/
@media only screen and (max-width: 479px) {
	.image-grid { width:300px!important}
	.filter_block { height:20px!important; margin-bottom:15px!important; overflow:hidden}
	.filter_navigation ul li ul li { height:20px!important; }
	.filter_navigation ul li ul li a {font-size:14px!important; line-height:20px!important; padding:0 8px!important; height:20px!important}
	.columns1 .element { margin:0 0 20px 0; height:auto!important}
	.columns1 .element .filter_img { padding:0!important; margin-bottom:15px}
	.columns1 .element .filter_img img { width:100%!important; height:auto}
	.columns2 .element { padding:0!important; margin-bottom:20px!important; height:183px!important}
	.columns3 .element, .columns4 .element { margin-bottom:30px; height:183px!important}
	.element { margin-left:0!important; margin-right:0!important}
	.masonry { }
}

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
