
/*Colors
---------*/
body { background-color:#ffffff!important}
.bg_footer, 
.block404, 
.content_wrapper  { background-color:rgba(255, 255, 255, 0.97); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7ffffff,endColorstr=#f7ffffff); zoom: 1;}
header { background-color:#ffffff; background-color:rgba(255, 255, 255, 0.97); }

.head_contact, 
.logo, 
.head_contact, 
.head_menu, 
.head_contact ul li, 
.bg_footer,
ul.sub-menu, 
.categs, 
.block404, .content_wrapper {
	border:#dfdfdf 1px solid;
}

ul.menu li ul.sub-menu li a, .resp-menu { background-color:rgba(255, 255, 255, 0.97)!important; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7ffffff,endColorstr=#f7ffffff)!important; zoom: 1;}
ul.menu li ul.sub-menu li ul.sub-menu li a { background-color:rgba(255, 255, 255, 0.97)!important; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7ffffff,endColorstr=#f7ffffff)!important; zoom: 1;}

.subscribe, 
.head_menu ul li,
ul.sub-menu li, 
header, 
.head_contact ul li { border-color:#dfdfdf!important}

.head_search #submit {}

.top_slider .topslider_link, 
.top_slider .camera_next, 
.top_slider .camera_prev, 
.top_slider .buttons_block,
.supersized, 
.supersized_hided, 
.top_slider .bottom, 
.map_top, .contact_inputs,
.top_toolbox_border,
.btn_readmode, .btn_tags,
.blog_tags,
.comment_topline,
.filter_line,
.block404_headline,
.window_buttons, .supersized #btn_show {
background-color:#474747;
background-color:rgba(40, 40, 40, 0.85); 
/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9282828,endColorstr=#d9282828); zoom: 1; */
border-color:#636363!important}

#slidecaption a:hover { color:#ffffff}
#gallery_buttons  { border-left:#636363 1px solid}

.subfooter { background:#474747;}

/*Font Colors*/
.logo, 
.logo .slogan,
.head_contact ul li, 
.logo:hover, 
ul.menu li a,
.copyright, 
.subscribe a,
footer .social_share li, .head_search #search_field, 
ul.menu li ul.sub-menu li a,
ul.menu li ul.sub-menu li ul.sub-menu li a, .resp-menu li a { 
	color:#858585;
}
.resp-menu li ul.sub-menu li a { color:#858585!important}
#slidecaption,  
.categs ul li, 
.color_panel .ttl_block, .social_share li a:hover { color:#8d8d8d;}

ul.menu li ul.sub-menu li a.current-menu {background-color:#474747!important; color:#ffffff!important; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00474747,endColorstr=#00474747)!important; zoom: 1;}
ul.menu li a.current-menu {color:#ffffff!important;}

ul.menu li ul.sub-menu li a:hover, 
ul.menu li ul.sub-menu li:hover a { background-color:#474747!important; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00474747,endColorstr=#00474747)!important; zoom: 1; color:#ffffff}


/*Footer Lists Theme Styles*/
.subfooter_content ul.popular_posts li, .top_toolbox {border-color:#636363}
.subfooter_content ul.latest_tweets li { background:url(../images/skin_light/marker_twitter.png) no-repeat 0 0}
.subfooter_content ul.list_contacts li.contacts_address { background:url(../images/skin_light/ico_contact_address.png) no-repeat 0 0}
.subfooter_content ul.list_contacts li.contacts_phone { background:url(../images/skin_light/ico_contact_phone.png) no-repeat 0 0}
.subfooter_content ul.list_contacts li.contacts_email { background:url(../images/skin_light/ico_contact_mail.png) no-repeat 0 0}
.subfooter_content ul.list_contacts li.contacts_skype { background:url(../images/skin_light/ico_contact_skype.png) no-repeat 0 0}

.footer_toggler:hover { background-color:#474747; border:none}

/*Top Slider*/

.slider_type2 .camera_caption, 
.slider_type2 .camera_caption p, 
.slider_type2 .camera_caption div,
.slider_type2 .camera_caption h3 { background:none!important; color:#474747!important; bottom:auto!important; top:5px!important; margin:0!important}

/* #Typography
---------------- */
	p, div, td { color:#474747}
	/*Headings*/
	h1, h2, h3, h4, h5, h6 {color: #474747;}
	
	.subheader { color: #777; }
	.aside h4 { color:#a8a8a8;}
	
	.subfooter_content h5 { color:#ffffff; text-transform:uppercase}
	.subfooter_content p, 
	.subfooter_content td, 
	.subfooter_content div{ color:#8d8d8d;}
	.white { color:#ffffff!important}

	p img { margin: 0;}
	p.lead { color: #777;}
	p.light, 
	p.light span,
	span.light,
	p.light div, ul.light li { color:#8d8d8d}
	
	.dropcap { color:#474747}
	.dropcap.light { color:#c7c7c6}
				
	/*Seperators*/
	hr { border-color:#c7c7c6!important; }
	hr.bold { border-color:#474747;}
	.subfooter_content hr { border-color:#636363!important;}
	hr.color_light { border-color:#c7c7c6!important}
	hr.dark { border-color:#474747!important}
	
	/*Blocks Titles*/
	.aside h5 { color:#ffffff;}	
	h4.date { color:#b5b5b5;}
	blockquote {
		color:#8d8d8d;
	}
	blockquote p { background:url(../images/skin_light/bg_blockquote.png) no-repeat 0 3px; }

	/*Socials*/
	.social_facebook { background:url(../images/skin_light/ico_facebook.png) no-repeat;}
	.social_twitter { background:url(../images/skin_light/ico_twitter.png) no-repeat;}
	.social_flickr { background:url(../images/skin_light/ico_flickr.png) no-repeat;}
	.social_vimeo { background:url(../images/skin_light/ico_vimeo.png) no-repeat;}
	.head_contact ul li a {background-position:0 0;}
	.head_contact ul li a:hover { background-position:0 -34px}
	
/*ShortCodes
-------------*/
	.highlighted_dark { background:#474747; color:#ffffff}
	.highlighted_light { background:#c7c7c6; color:#474747}
	.entry_area { color:#c7c7c6; background:#474747;} 
	.entry_area.dark {color:#c7c7c6; background:#474747;}
	.entry_area.light { background:#c7c7c6; color:#474747}

	.shortcode_button.btn_big_black, .shortcode_button.btn_normal_black, .shortcode_button.btn_small_black,
	.shortcode_button.btn_big_colored:hover, .shortcode_button.btn_normal_colored:hover, .shortcode_button.btn_small_colored:hover { background:#474747; color:#ffffff}
	.shortcode_button.btn_big_grey, .shortcode_button.btn_normal_grey, .shortcode_button.btn_small_grey { background:#c7c7c6; color:#636363}

	ul.pager li a { background:#474747; color:#8d8d8d}
	ul.pager li a:hover { text-decoration:none}
	ul.pager li a.left { background-image:url(../images/skin_light/btn_pager_left.png); background-position:top center; background-repeat:no-repeat}
	ul.pager li a.right{ background-image:url(../images/skin_light/btn_pager_right.png); background-position:top center; background-repeat:no-repeat}
	ul.pager li a.disabled { background-color:#c7c7c6}
	ul.pager li a.left:hover, ul.pager li a.right:hover { background-position:bottom center}
	
	ul.tabs {border-bottom:#626262 4px solid!important;}
	ul.tabs li { border-color:#a9a9a8!important}	
	ul.tabs li a { background:#c7c7c6; color:#636363}
	ul.tabs li.current a { background:#474747; color:#ffffff}
	.tab-content { border:#e5e5e5 1px solid; border-top:none; background:#ffffff; color:#474747;}
	
	.color_block.dark { background:#474747; color:#c7c7c6; border-color:#474747}
	.color_block.light { background:#c7c7c6; color:#636363; border-color:#c7c7c6}
	.color_block.white { background:#ffffff; color:#8d8d8d!important; border-color:#dbdbdb}
	.color_block.white a:hover { text-decoration:underline; color:#8d8d8d}
	.color_block.dark a:hover { text-decoration:underline; color:#c7c7c6}
	.color_block.light a { text-decoration:none; color:#ffffff}
	.color_block.light a:hover { text-decoration:underline; color:#636363}
	.color_block.colored a { color:#636363; text-decoration:none}
	.color_block.colored a:hover { color:#ffffff; text-decoration:underline}
	
	.color_block h5 { text-align:center}
	.color_block.dark h5 { color:#c7c7c6}
	.color_block.light h5 { color:#636363}	
	.color_block.white h5 { color:#8d8d8d}
	.color_block.colored h5, .color_block.hovered.dark:hover h5, .color_block.hovered.light:hover h5, .color_block.hovered.white:hover h5 { color:#ffffff}
	.color_block.hovered.light:hover, .color_block.hovered.white:hover { color:#ffffff!important; background:#474747}
	.color_block.hovered.colored:hover { background:#ffffff; border-color:#dbdbdb}
	
/*Lists Styles
---------------*/
.contacts_address { background:url(../images/skin_light/) no-repeat 0 0}
.contacts_email { background:url(../images/skin_light/) no-repeat 0 0}
.contacts_skype { background:url(../images/skin_light/) no-repeat 0 0}
.contacts_twitter { background:url(../images/skin_light/) no-repeat 0 0}
.contacts_phone { background:url(../images/skin_light/) no-repeat 0 0}
.contacts_flickr { background:url(../images/skin_light/) no-repeat 0 0}
.contacts_facebook { background:url(../images/skin_light/) no-repeat 0 0}
.contacts_vimeo { background:url(../images/skin_light/) no-repeat 0 0}

/*Contacts Classes
-------------------*/
.show_map, .show_map.hide_map { 
background-color:#474747;
background-color:rgba(40, 40, 40, 0.85); 
/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9282828,endColorstr=#d9282828); zoom: 1;*/
 border:#636363 1px solid; border-bottom:none;}

.contact_inputs input { background:none; border:#636363 1px solid!important; border-right:none!important; color:#c7c7c6;}
.contact_inputs input:focus { color:#474747}
#contact #reset, #comment-form #reset {background-color:#474747; border:#636363 1px solid;}
#contact #submit, #comment-form #submit { background-color:#474747; border-top:#636363 1px solid}
#contact textarea, #comment-form textarea { background:#c7c7c6; color:#474747}

/*ColorHover Block*/
.colorhover_block { background:#474747;}
.colorhover_block span, .colorhover_block h5, .colorhover_block p { color:#c7c7c6;}
.colorhover_block:hover span, .colorhover_block:hover h5, .colorhover_block:hover p { color:#ffffff;}

/*SideBar Classes*/
.sidebar .widget_block { background:#474747; color:#8d8d8d}

.sidebar .widget_block .popular_posts .popular_posts_content, 
.sidebar .widget_block .recent_posts .recent_posts_content, 
.sidebar .widget_block .popular_posts .popular_posts_content p, 
.widget_block .popular_posts .popular_posts_content span,  
.widget_block .popular_posts .popular_posts_content,
.sidebar .widget_block .recent_posts .recent_posts_content p, 
.widget_block .recent_posts .recent_posts_content span,  
.widget_block .recent_posts .recent_posts_content { color:#8d8d8d; }


.sidebar .widget_block .blog_roll li, 
.sidebar .widget_block .latest_tweets li, 
.sidebar .widget_block .latest_tweets li p { border-color:#636363; color:#ffffff; }

/*Blog Classes*/
.blog_post_text { background:#474747}
.blogpost_title {border-bottom:#636363 1px solid; position:relative}

.blog_post_text, 
.btn_readmode, .btn_tags,
.blogpost_title .date, 
.blogpost_title .date span, 
.blog_post_preview .blog_info, 
.blog_post_preview .blog_info .ico,
.blog_post_preview .blog_info .like a,
.blog_post_preview .blog_info .like_tweeter a,
.blog_post_preview .blog_info .like_facebook a  { color:#8d8d8d;}
.comment_topline { color:#c7c7c6; border-bottom:#474747 4px solid!important}

.comment_topline a.comment-reply-link { border-color:#636363; color:#8d8d8d}
.comment_topline a.comment-reply-link:hover { color:#ffffff}

.blog_post_preview a.mainTitlePermalink { color:#ffffff;}
.blog_post_preview a.mainTitlePermalink:hover {text-decoration:none}
.blog_post_preview a.mainTitlePermalink h5 { color:#ffffff; margin-bottom:4px}

ol.commentlist li .comment_post { background:#c7c7c6}
ol.commentlist li ul li .comment_post  { background:#ffffff; border:#e5e5e5 1px solid; border-top:none}

/*Filter Classes*/
.filter_navigation ul li ul, 
.filter_navigation ul li ul li { border-color:#a9a9a8!important}
.filter_navigation ul li ul li.selected { border-color:#636363!important}
.filter_navigation ul li ul li a { background:#c7c7c6; color:#636363;}
.filter_navigation ul li ul li a:hover, .filter_navigation ul li ul li.selected a { background:#474747; color:#ffffff}
.inner_description_padding, .inner_description_padding p, .inner_description_padding h5 { color:#ffffff}
.inner_description_padding hr { border-color:#ffffff!important}
.filter_img .btn_readmode:hover, .filter_img .btn_tags:hover { background-color:#ffffff}

/*toolbar_top_border*/
.top_slider .bottom hr, ol.commentlist li .comment_topline hr, hr.toolbox { border-color:#636363!important;}
.vertical_sep1, .vertical_sep2,
#gallery_buttons .sep_horizontal,
#gallery_buttons .sep_vertical, .vertical_sep0, .hor_sep3, .vertical_sep3 { background-color:#636363!important}

.sidebar .blog_roll li a, .sidebar .latest_tweets li p { color:#8D8D8D!important} 

.filter_img:hover .btn_tags, .filter_img:hover .btn_readmode, .filter_img:hover .top_toolbox_border { background:#ffffff;}
.filter_img:hover .top_toolbox_border { border:1px solid #d9d9d9!important; border-top:none!important; left:0px!important; border-top:0px!important}
.filter_img:hover .btn_tags, .filter_img:hover .btn_readmode { border-color:#d9d9d9!important; height:31px; bottom:1px; }
.filter_img .btn_tags, .filter_img .btn_readmode {color:#8D8D8D!important}
.filter_img:hover .btn_tags:hover, .filter_img:hover .btn_readmode:hover  {color:#8D8D8D!important}

.content_area ul li, .content_area ol li  { color:#474747}
.show_map {background-color:#474747}
.top_toolbox  { border-bottom:#636363 1px solid!important}
.resp-menu li { border-top:1px solid #dfdfdf!important}
.resp-menu li:first-child, .resp-menu li ul.sub-menu li { border:none!important}
.responsive_menu, .responsive_menu span { color:#858585!important}
.subfooter_content .list_contacts li { color:#8d8d8d}