
/*Colors
---------*/
body { background-color:#474747!important}
.bg_footer, 
.block404, 
.content_wrapper  { filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7474747,endColorstr=#f7474747); zoom: 1;}
header {background-color:#474747; background-color:rgba(71, 71, 71, 0.97);}


.head_contact, 
.logo, 
.head_contact, 
.head_menu, 
.head_contact ul li, 
.bg_footer,
ul.sub-menu, 
.categs, 
.block404, .content_wrapper {
	border:#5f5f5f 1px solid;
}

ul.menu li ul.sub-menu li a, .resp-menu { background-color:rgba(71, 71, 71, 0.97)!important; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7474747,endColorstr=#f7474747)!important; zoom: 1;}
ul.menu li ul.sub-menu li ul.sub-menu li a { background-color:rgba(71, 71, 71, 0.97)!important; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7474747,endColorstr=#f7474747)!important; zoom: 1;}

.subscribe, 
.head_menu ul li,
ul.sub-menu li, 
header, 
.head_contact ul li { border-color:#5f5f5f!important}

.head_search #submit {}

.top_slider .topslider_link, 
.top_slider .camera_next, 
.top_slider .camera_prev, 
.top_slider .bottom, 
.top_slider .buttons_block, 
.map_top,
.top_toolbox_border,
.btn_readmode, .btn_tags,
.blog_tags,
.filter_line,
.block404_headline,
.window_buttons, .supersized #btn_show,
.supersized, 
.supersized_hided  {
background-color:#ffffff;
background-color:rgba(255, 255, 255, 0.85); 
/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9ffffff,endColorstr=#d9ffffff); zoom: 1;*/
border-color:#c2c2c2!important}

/*.supersized, 
.supersized_hided {background-color:rgba(141, 141, 141, 0.85); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d98d8d8d,endColorstr=#d98d8d8d); zoom: 1; border-color:#8d8d8d!important}*/

.contact_inputs { background:#ffffff}

#slidecaption a:hover { color:#474747}
#gallery_buttons  { border-left:#c2c2c2 1px solid}


.subfooter { background:#ffffff;}

/*Font Colors*/
.logo, 
.logo .slogan,
.head_contact ul li, 
.logo:hover, 
ul.menu li a,
.copyright, 
.subscribe a,
footer .social_share li, .head_search #search_field, 
ul.menu li ul.sub-menu li a,
ul.menu li ul.sub-menu li ul.sub-menu li a, .resp-menu li a, .resp-menu li:hover ul li{ 
	color:#c7c7c6;
}
.resp-menu li ul.sub-menu li a{color:#c7c7c6!important}
#slidecaption,  
.categs ul li, 
.color_panel .ttl_block { color:#474747;}
.social_share li a:hover { color:#8d8d8d}

ul.menu li ul.sub-menu li a.current-menu {background-color:#ffffff!important; color:#474747!important; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff,endColorstr=#00ffffff)!important; zoom: 1;}
ul.menu li a.current-menu {color:#ffffff!important;}

ul.menu li ul.sub-menu li a:hover, 
ul.menu li ul.sub-menu li:hover a { background-color:#ffffff!important; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff,endColorstr=#00ffffff)!important; zoom: 1; color:#474747}


/*Footer Lists Theme Styles*/
.subfooter_content ul.popular_posts li, .top_toolbox {border-color:#c2c2c2}
.subfooter_content ul.latest_tweets li { background:url(../images/skin_dark/marker_twitter.png) no-repeat 0 0}
.subfooter_content ul.list_contacts li.contacts_address { background:url(../images/skin_dark/ico_contact_address.png) no-repeat 0 0}
.subfooter_content ul.list_contacts li.contacts_phone { background:url(../images/skin_dark/ico_contact_phone.png) no-repeat 0 0}
.subfooter_content ul.list_contacts li.contacts_email { background:url(../images/skin_dark/ico_contact_mail.png) no-repeat 0 0}
.subfooter_content ul.list_contacts li.contacts_skype { background:url(../images/skin_dark/ico_contact_skype.png) no-repeat 0 0}

.footer_toggler:hover { background-color:#636363; border:none}

/*Top Slider*/

.slider_type2 .camera_caption, 
.slider_type2 .camera_caption p, 
.slider_type2 .camera_caption div,
.slider_type2 .camera_caption h3 { background:none!important; color:#474747!important; bottom:auto!important; top:5px!important; margin:0!important}

/*Content Classes*/

/* #Typography
---------------- */
	p, div, td { color:#c7c7c6}
	/*Headings*/
	h1, h2, h3, h4, h5, h6 {color: #ffffff}
	
	.subheader { color: #777; }
	.aside h4 { color:#a8a8a8;}
	
	.subfooter_content h5 { color:#474747!important; text-transform:uppercase}
	.subfooter_content p, 
	.subfooter_content td, 
	.subfooter_content div{ color:#8d8d8d;}
	.white { color:#474747!important}
	.content_block .white {color:#ffffff!important}

	p img { margin: 0;}
	p.lead { color: #777;}
	p.light, 
	p.light span,
	span.light,
	p.light div, ul.light li { color:#8d8d8d}
	
	.dropcap { color:#ffffff}
	.dropcap.light { color:#8d8d8d}
				
	/*Seperators*/
	hr { border-color:#636363!important; }
	hr.bold { border-color:#474747;}
	.subfooter_content hr { border-color:#c2c2c2!important;}
	hr.color_light { border-color:#636363!important}
	hr.dark { border-color:#ffffff!important}
	
	/*Blocks Titles*/
	.aside h5 { color:#ffffff;}	
	h4.date { color:#b5b5b5;}
	blockquote {
		color:#8d8d8d;
	}
	blockquote p { background:url(../images/skin_dark/bg_blockquote.png) no-repeat 0 3px; }

	/*Socials*/
	.social_facebook { background:url(../images/skin_dark/ico_facebook.png) no-repeat;}
	.social_twitter { background:url(../images/skin_dark/ico_twitter.png) no-repeat;}
	.social_flickr { background:url(../images/skin_dark/ico_flickr.png) no-repeat;}
	.social_vimeo { background:url(../images/skin_dark/ico_vimeo.png) no-repeat;}
	.head_contact ul li a {background-position:0 0;}
	.head_contact ul li a:hover { background-position:0 -34px}
	
/*ShortCodes
-------------*/
	.highlighted_dark { background:#ffffff; color:#474747}
	.highlighted_light { background:#8d8d8d; color:#ffffff}
	.entry_area { color:#474747; background:#ffffff;} 
	.entry_area.dark {color:#474747; background:#ffffff;}
	.entry_area.light {  color:#ffffff; background:#8d8d8d;}

	.shortcode_button.btn_big_black, .shortcode_button.btn_normal_black, .shortcode_button.btn_small_black,
	.shortcode_button.btn_big_colored:hover, .shortcode_button.btn_normal_colored:hover, .shortcode_button.btn_small_colored:hover { background:#ffffff; color:#474747}
	.shortcode_button.btn_big_grey, .shortcode_button.btn_normal_grey, .shortcode_button.btn_small_grey { background:#8d8d8d; color:#ffffff}

	ul.pager li a { background:#8d8d8d; color:#ffffff}
	ul.pager li a:hover { text-decoration:none}
	ul.pager li a.left { background-image:url(../images/skin_dark/btn_pager_left.png); background-position:center; background-repeat:no-repeat}
	ul.pager li a.right{ background-image:url(../images/skin_dark/btn_pager_right.png); background-position:center; background-repeat:no-repeat}
	ul.pager li a.disabled { background-color:#636363}

	ul.tabs {border-bottom:#ffffff 4px solid!important;}	
	ul.tabs li { border-color:#a9a9a8!important}	
	ul.tabs li a { background:#8d8d8d; color:#ffffff}
	ul.tabs li.current a { background:#ffffff; color:#474747}
	.tab-content { border:#c7c7c6 1px solid; border-top:none!important; background:#c7c7c6; color:#474747}
	
	.color_block.dark { background:#636363; color:#c7c7c6; border-color:#636363}
	.color_block.light { background:#c7c7c6; color:#636363; border-color:#c7c7c6}
	.color_block.white { background:#ffffff; color:#8d8d8d!important; border-color:#dbdbdb}
	.color_block.white a:hover { text-decoration:underline; color:#8d8d8d}
	.color_block.dark a:hover { text-decoration:underline; color:#c7c7c6}
	.color_block.light a { text-decoration:none; color:#ffffff}
	.color_block.light a:hover { text-decoration:underline; color:#636363}
	.color_block.colored a { color:#636363; text-decoration:none}
	.color_block.colored a:hover { color:#ffffff; text-decoration:underline}
	
	.color_block h5 { text-align:center}
	.color_block.dark h5 { color:#c7c7c6}
	.color_block.light h5 { color:#636363}	
	.color_block.white h5 { color:#8d8d8d}
	.color_block.colored h5, .color_block.hovered.dark:hover h5, .color_block.hovered.light:hover h5, .color_block.hovered.white:hover h5 { color:#ffffff}
	.color_block.hovered.light:hover, .color_block.hovered.white:hover { color:#c7c7c6!important; background:#636363; border-color:#636363}
	.color_block.hovered.colored:hover { background:#ffffff; border-color:#dbdbdb}
	
/*Lists Styles
---------------*/
.contacts_address { background:url(../images/skin_dark/) no-repeat 0 0}
.contacts_email { background:url(../images/skin_dark/) no-repeat 0 0}
.contacts_skype { background:url(../images/skin_dark/) no-repeat 0 0}
.contacts_twitter { background:url(../images/skin_dark/) no-repeat 0 0}
.contacts_phone { background:url(../images/skin_dark/) no-repeat 0 0}
.contacts_flickr { background:url(../images/skin_dark/) no-repeat 0 0}
.contacts_facebook { background:url(../images/skin_dark/) no-repeat 0 0}
.contacts_vimeo { background:url(../images/skin_dark/) no-repeat 0 0}

/*Contacts Classes
-------------------*/
.show_map, .show_map.hide_map { 
background-color:#474747;
background-color:rgba(40, 40, 40, 0.85); 
/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9282828,endColorstr=#d9282828); zoom: 1;*/ border:#c2c2c2 1px solid; border-bottom:none;}

.contact_inputs input { background:#8d8d8d; border:#c2c2c2 1px solid!important; border-right:none!important; color:#c7c7c6;}
.contact_inputs input:focus { color:#474747}
#contact #reset, #comment-form #reset {background-color:#ffffff; border:#dfdfdf 1px solid;}
#contact #submit, #comment-form #submit { background-color:#ffffff; border-top:#dfdfdf 1px solid}
#contact textarea, #comment-form textarea { background:#c7c7c6; color:#474747}

/*ColorHover Block*/
.colorhover_block { background:#636363;}
.colorhover_block span, .colorhover_block h5, .colorhover_block p { color:#c7c7c6;}
.colorhover_block:hover span, .colorhover_block:hover h5, .colorhover_block:hover p { color:#ffffff;}

/*SideBar Classes*/
.sidebar .widget_block { background:#636363; color:#c7c7c6}
.sidebar .popular_posts_content p, .sidebar .popular_posts_content .post_date, .sidebar .recent_posts_content p, .sidebar .recent_posts_content .post_date {color:#c7c7c6!important}
.sidebar .blog_roll a { color:#c7c7c6}

.sidebar .widget_block .popular_posts .popular_posts_content, 
.sidebar .widget_block .recent_posts .recent_posts_content, 
.sidebar .widget_block .popular_posts .popular_posts_content p, 
.widget_block .popular_posts .popular_posts_content span,  
.widget_block .popular_posts .popular_posts_content,
.sidebar .widget_block .recent_posts .recent_posts_content p, 
.widget_block .recent_posts .recent_posts_content span,  
.widget_block .recent_posts .recent_posts_content { color:#8d8d8d; }

.sidebar .widget_block .blog_roll li, 
.sidebar .widget_block .latest_tweets li, 
.sidebar .widget_block .latest_tweets li p { border-color:#c2c2c2; color:#C7C7C6; }

/*Blog Classes*/
.blog_post_text { background:#636363}
.blogpost_title {border-bottom:#8d8d8d 1px solid; position:relative}
.blog_post_text, .blog_post_text p { color:#c7c7c6}
 
.btn_readmode, .btn_tags,
.blogpost_title .date, 
.blogpost_title .date span, 
.blog_post_preview .blog_info, 
.blog_post_preview .blog_info .ico,
.blog_post_preview .blog_info .like a,
.blog_post_preview .blog_info .like_tweeter a,
.blog_post_preview .blog_info .like_facebook a  { color:#8d8d8d;}
.comment_topline { background:#8d8d8d; color:#c7c7c6; border-bottom:#ffffff 4px solid!important}
.comment_topline a { color:#ffffff!important}
/*.comment_topline a.comment-reply-link { border:none; background:#ffffff url(../images/skin_dark/btn_reply.png) no-repeat 0 0}
.comment_topline a.comment-reply-link:hover { background-position:0 -30px}*/

.blog_post_preview a.mainTitlePermalink { color:#ffffff;}
.blog_post_preview a.mainTitlePermalink:hover {text-decoration:none}
.blog_post_preview a.mainTitlePermalink h5 { color:#ffffff; margin-bottom:4px}

ol.commentlist li .comment_post { background:#c7c7c6}
ol.commentlist li .comment_post, ol.commentlist li .comment_post p, ol.commentlist li .comment_post div { color:#474747}
ol.commentlist li ul li .comment_post  { background:#636363; border:#636363 1px solid; border-top:none}
ol.commentlist li ul li .comment_post, ol.commentlist li ul li .comment_post p, ol.commentlist li ul li .comment_post div { color:#c7c7c6 }

/*Filter Classes*/
.filter_navigation ul li ul, 
.filter_navigation ul li ul li { border-color:#a4a4a4!important}
.filter_navigation ul li ul li.selected { border-color:#ffffff!important}
.filter_navigation ul li ul li a { background:#8d8d8d; color:#ffffff;}
.filter_navigation ul li ul li a:hover { color:#ffffff;}
.filter_navigation ul li ul li.selected a { background:#ffffff; color:#474747;}
.inner_description_padding, .inner_description_padding p, .inner_description_padding h5 { color:#ffffff}
.inner_description_padding hr { border-color:#ffffff!important}
.filter_img .btn_readmode:hover, .filter_img .btn_tags:hover { background-color:#474747}

/*toolbar_top_border*/
.top_slider .bottom hr, ol.commentlist li .comment_topline hr, hr.toolbox  { border-color:#c2c2c2!important;}
.top_slider .bottom .vertical_sep1, 
.top_slider .bottom .vertical_sep2 { background-color:#c2c2c2!important}
#gallery_buttons .sep_horizontal,
#gallery_buttons .sep_vertical { background-color:#c2c2c2!important}

.sidebar .popular_posts_content, .sidebar .blog_roll li, .sidebar .latest_tweets li { border-color:#8d8d8d!important}
.sidebar .blog_roll li a, .sidebar .latest_tweets li p { color:#C7C7C6!important} 

.filter_img:hover .btn_tags, .filter_img:hover .btn_readmode, .filter_img:hover .top_toolbox_border { background:#ffffff;}
.filter_img:hover .top_toolbox_border { border:1px solid #d9d9d9!important; border-top:none!important; left:0px!important; border-top:0px!important}
.filter_img:hover .btn_tags, .filter_img:hover .btn_readmode { border-color:#d9d9d9!important}
.filter_img:hover .btn_tags:hover, .filter_img:hover .btn_readmode:hover  {color:#8D8D8D!important}

.content_area ul li, .content_area ol li { color:#c7c7c6}
.show_map {background-color:#474747}
.top_toolbox  { border-bottom:#c2c2c2 1px solid!important}
.resp-menu li { border-top:1px solid #5f5f5f!important}
.resp-menu li:first-child, .resp-menu li ul.sub-menu li { border:none!important}
.responsive_menu, .responsive_menu span { color:#C7C7C6!important