/*Color #5ac9cd
----------------*/
::selection { color:#ffffff; background:#5ac9cd; opacity:1;}
::-moz-selection { color:#ffffff; background:#5ac9cd; opacity:1;}

.logo span.logo_ico,
.subscribe a:hover, 
ul.menu li a:hover, 
ul.menu li:hover a, 
#progress-bar,
#gallery_buttons a:hover, 
#btn_show:hover, 
.show_map:hover, 
.show_map.hide_map:hover, 
.colorhover_block:hover,
.top_slider .topslider_link:hover, 
.top_slider .camera_next:hover, 
.top_slider .camera_prev:hover, 
#contact #reset:hover, 
#contact #submit:hover,
#comment-form #reset:hover,
#comment-form #submit:hover,
.footer_toggler, 
.head_contact ul li a:hover,
.contact_inputs input:focus,
.comment_topline a.comment-reply-link:hover,
.inner_description,
.window_buttons .btn_win_close:hover,
.window_buttons .btn_win_back:hover { background-color:#5ac9cd}

ul.menu li a.current-menu, .filter_navigation ul li ul li a:hover { background-color:#5ac9cd!important}
.head_contact ul li a:hover { background-position:bottom}
.head_search #submit { background:none}

ul.menu li ul.sub-menu li ul.sub-menu li a:hover, 
ul.menu li ul.sub-menu li ul.sub-menu li:hover a,
ul.menu li ul.sub-menu li ul.sub-menu li a.current-menu,
.subfooter_content ul.latest_tweets li a,
.subfooter_content ul.list_contacts li a, 
.blog_tags, 
ul.list li:before, 
blockquote span,
ol.list li:before { color:#5ac9cd!important}

a, a:hover, p a, p a:visited,
.logo span, 
logo .slogan span,
.head_contact ul li span, .subscribe a span, 
.blog_post_preview .blog_info a:hover .ico,
.blog_post_preview .blog_info a.clicked .ico, 
.blog_post_preview .blog_info .like a:hover, 
.blog_post_preview .blog_info .like a.clicked,
.blog_post_preview .blog_info .like_tweeter a:hover, 
.blog_post_preview .blog_info .like_facebook a:hover,
.head_search #submit,
#slidecaption span, 
#slidecaption a, 
.subfooter_content a, 
ul.contact_list li span, 
.social_share li a,
p.colored, span.colored, p.colored span, 
.color_block.hovered.colored:hover h5, .color_block.hovered.colored:hover { color:#5ac9cd}

.subscribe a:hover, 
.subscribe a:hover span, 
ul.menu li a:hover, 
ul.menu li:hover a { color:#ffffff}

.footer_toggler { 
		transition: background-color 250ms;
		-webkit-transition:background-color 250ms;
		-moz-transition:background-color 250ms;
		-o-transition:background-color 250ms;
}
.subfooter { border-color:#5ac9cd!important}

/*TopSlider*/
.camera_caption { background-color:rgba(90, 201, 205, 0.8); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc5ac9cd,endColorstr=#cc5ac9cd); zoom: 1}

/*Typography
-------------*/
hr.colored { border-color:#5ac9cd!important}
.dropcap.colored, .color_block.dark a, .color_block.white a { color:#5ac9cd; text-decoration:none}

/*Shortcodes*/
.highlighted_colored, 
.entry_area:focus, 
.shortcode_button.btn_big_colored, 
.shortcode_button.btn_normal_colored, 
.shortcode_button.btn_small_colored,
.shortcode_button.btn_big_black:hover, 
.shortcode_button.btn_normal_black:hover, 
.shortcode_button.btn_small_black:hover,
.shortcode_button.btn_big_grey:hover, 
.shortcode_button.btn_normal_grey:hover, 
.shortcode_button.btn_small_grey:hover,
ul.pager li a:hover, ul.pager li a.active, ul.tabs li a:hover, .color_block.colored,
.color_block.hovered.dark:hover { color:#ffffff; background-color:#5ac9cd}

.color_block.colored, .color_block.hovered.dark:hover{ border-color:#5ac9cd}

/*Contact Classes*/
.contact_inputs input:focus { border-color:#5ac9cd!important}
.filter_img:hover .btn_tags, .filter_img:hover .btn_readmode {color:#5ac9cd!important}
.resp-menu li a:hover, .resp-menu li:hover a {color:#5ac9cd}
.resp-menu li ul.sub-menu li a:hover {color:#5ac9cd!important}